/* COLORES EQUIPOS */
.Ferrari {
  background-color: rgba(254, 0, 0, 0.8);
}
#gradFerrari {
  background-color: #fe0000; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #fe0000, black);
}

.Mercedes {
  background-color: rgba(2, 160, 155, 0.7);
}
#gradMercedes {
  background-color: #02a09b; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #02a09b, white);
}

.RedBull {
  background-color: rgba(20, 25, 91, 0.9);
}
#gradRedBull {
  background-color: #14195b; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #14195b, black);
}

.Mclaren {
  background-color: rgba(253, 128, 0, 0.8);
}
#gradMclaren {
  background-color: #fd8000; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #fd8000, white);
}

.Williams {
  background-color: rgba(4, 30, 65, 0.8);
}
#gradWilliams {
  background-color: #041e41; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #041e41, black);
}

.AstonMartin {
  background-color: rgba(1, 90, 80, 0.8);
}
#gradAstonMartin {
  background-color: #015a50; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #015a50, black);
}

.Haas {
  background-color: rgba(218, 218, 218, 0.8);
}
#gradHaas {
  background-color: #dadada; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #dadada, white);
}
.AlfaRomeo {
  background-color: rgba(153, 1, 0, 0.8);
}
#gradAlfaRomeo {
  background-color: #990100; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #990100, black);
}

.AlphaTauri {
  background-color: rgba(2, 42, 74, 0.9);
}
#gradAlphaTauri {
  background-color: #022a4a; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #022a4a, black);
}

.Alpine {
  background-color: rgba(15, 28, 44, 0.9);
}
#gradAlpine {
  background-color: #0f1c2c; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #0f1c2c, black);
}

/* --------------------------------------------------------------------------- */
