/* Define variables for team colors */
:root {
  --ferrari-color: #fe0000;
  --mercedes-color: #02a09b;
  --redbull-color: #14195b;
  --mclaren-color: #fd8000;
  --williams-color: #041e41;
  --astonmartin-color: #015a50;
  --haas-color: #dadada;
  --alfaromeo-color: #990100;
  --alphatauri-color: #022a4a;
  --alpine-color: #0f1c2c;
}
/* COLORES EQUIPOS */

.Ferrari-background {
  background-color: var(--ferrari-color);
}
.ferrari-gradient{
  background-image: linear-gradient(to right, var(--ferrari-color), black);
}

.Mercedes-background {
  background-color: var(--mercedes-color);
}
.Mercedes-gradient {
  background-image: linear-gradient(to right, var(--mercedes-color), white);
}

.RedBull-background {
  background-color: var(--redbull-color);
}
.RedBull-gradient {
  background-image: linear-gradient(to right, var(--redbull-color), black);
}

.Mclaren-background {
  background-color: var(--mclaren-color);
}
.Mclaren-gradient {
  background-image: linear-gradient(to right, var(--mclaren-color), white);
}

.Williams-background {
  background-color: var(--williams-color);
}
.Williams-gradient {
  background-image: linear-gradient(to right, var(--williams-color), black);
}

.AstonMartin-background {
  background-color: rgba(1, 90, 80, 0.8);
}
.AstonMartin-gradient {
  background-image: linear-gradient(to right, var(--astonmartin-color), black);
}

.Haas-background {
  background-color: var(--haas-color);
}
.Haas-gradient {
  background-image: linear-gradient(to right, var(--haas-color), white);
}
.AlfaRomeo-background {
  background-color: var(--alfaromeo-color);
}
.AlfaRomeo-gradient {
  background-image: linear-gradient(to right, var(--alfaromeo-color), black);
}

.AlphaTauri-background {
  background-color: var(--alphatauri-color);
}
.AlphaTauri-gradient {
  background-image: linear-gradient(to right, var(--alphatauri-color) black);
}

.Alpine-background {
  background-color: var(--alpine-color);
}
.Alpine-gradient {
  background-image: linear-gradient(to right, var(--alpine-color), black);
}

/* --------------------------------------------------------------------------- */
