input[type="email"],
input[type="tel"],
input[type="text"],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 100%;
}

input[type="submit"] {
  background-color: #fe0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  padding: 12px 20px;
}

input[type="submit"]:hover {
  background-color: red;
}
