* {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}
@media screen and (min-width:992px){
  .navbar{
    padding: 0;
  }
  .navbar .navbar-nav .nav-link{
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-link{
    margin: 0 1em;
  }  
}
a.nav-link.active , a.nav-link:hover{
  color: grey !important;
}
.nav-link{
  color: white;
}
.navbar-brand{
  display: flex;
  justify-content: center;
}

.bg-navbar {
  background-color: #0a0a00;
}

.navbar .navbar-nav .nav-item{
  position: relative;
}
.navbar .navbar-nav .nav-item:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: red;
  width: 0%;
  height: 4px;
  transition: all .5s;
}

.navbar .navbar-nav .nav-item:hover::after{
  width: 100%;

}
body {background-color: #0d1117;}

div {overflow: hidden;}

/* li > a {font-size: 30px;} */
/* Fin barra de navegacion  */

/* =============overlay de proxima carrera==================  */
.overlay {
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  bottom: 0;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.contenedor:hover .overlay {opacity: 1;}

.contenedor {position: relative; width: 100%;}

#imgProxima {
  display: block;
  width: 100%;
  height: auto;
  z-index: -99;
}

/* ==============TIPOGRAFIA================== */
h1 {
  color: #990100;
  font-weight: 600;
  margin: 0;
  text-decoration: underline;
}

h2 {
  color: white;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

/* =================FOOTER================= */

ul.RedesSociales {
  background-color: black;
  bottom: 0px;
  list-style-type: none;
  height: 55px;
  padding: 0;
  margin-bottom: 0px;
  width: 100%;
}

.RedesSociales li {
  float: right;
}

.RedesSociales li a {
  color: white;
  display: block;
  font-size: 16px;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none; 
}

/* ========================================================================== */
/* .container {
  border-radius: 5px;
} */
.espacio {
  margin-top: 67px;
}

/* iconos mundial pilotos */
.iconos{
  width: 40px;
  border-style: none;
}
.card-img-top {
  background-color: #0d1117;
}
.card-img-num {
  max-width: 60px;
}

/* hover al grupo de card se desenfoca  */
.row:hover .contenido{
    filter: blur(2px);
}

/* efecto de transicion  */
.row .contenido {
    transform:scale(1);
    transition: all 0.3s ease-in;
}
/* tarjeta seleccionada se desenfoca  */
.row .contenido:hover{
    filter: blur(0px);
    transform: scale(1.01);
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 576px) {
  .h5{
    font-size: 50px;
  }
  .card-img-num{
    max-width: 100px;
  }

}

.card-img-logo{
  max-height: 50px;
}

.apellido {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0;
}
.nombre {
  margin-bottom: 0;
}
