* {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #0a0a00;
  position: fixed;
  width: 100%;
}

.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav .icon {
  display: none;
}

.espacio {
  margin-top: 70px;
}

.topnav a:hover {
  text-decoration-line: underline;
  text-decoration-color: red;
}

.logo a:hover {
  text-decoration: none;
}

.topnav .active {
  border: solid #0a0a00;
  border-top-color: #0a0a00;
  border-left-color: #0a0a00;
  border-bottom-color: red;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
    font-size: 15px;
  }
  .topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    display: block;
    width: 100%;
    text-align: left;
    visibility: none;
    float: none;
    position: relative;
  }
  .nombre {
    font-size: 12px !important;
  }
}

div {
  overflow: hidden;
}

li > a {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
}

.ProximaCarrera {
  float: right;
  position: relative;
  height: max-content;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.ProximaCarrera:hover .overlay {
  opacity: 0.7;
}

.ProximaCarrera:hover .image {
  filter: blur(1px);
}

.texto {
  color: white;
  font-size: 3vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.nombre {
  color: #0a0a00;
  font-weight: 600;
}

.Apellido {
  font-size: 4vw;
  font-weight: 600;
  margin: 0%;
}

.Text {
  height: max-content;
  float: right;
  width: 50%;
}

.Black {
  color: black;
}

.White {
  color: white;
}

/* COLORES EQUIPOS */
.Ferrari {
  background-color: #fe0000;
}

.Mercedes {
  background-color: #02a09b;
}

.RedBull {
  background-color: #14195b;
}

.Mclaren {
  background-color: #fd8000;
}

.Williams {
  background-color: #041e41;
}

.AstonMartin {
  background-color: #015a50;
}

.Haas {
  background-color: #ffffff;
  border-style: solid;
}

.AlfaRomeo {
  background-color: #990100;
}

.AlphaTauri {
  background-color: #022a4a;
}

.Alpine {
  background-color: #0f1c2c;
}

/* --------------------------------------------------------------------------- */
div > img {
  overflow: hidden;
  width: 80%;
  height: auto;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  color: #990100;
  font-weight: 600;
  margin: 0;
  text-decoration: underline;
}

h3 {
  color: black;
  border: none;
}

.bordes {
  border-color: #990100;
  border-width: 0px;
  border-radius: 0px;
}

img {
  border-radius: 0px;
  border-style: solid;
}

/* =================Footer ================= */
#pie {
  background-color: #0a0a00;
  color: White;
}

ul.RedesSociales {
  list-style-type: none;
  background-color: black;
  width: 100%;
  height: 70px;
  bottom: 0px;
  padding: 0;
  /* overflow: hidden; */
  z-index: 100;
}

.RedesSociales li {
  float: right;
}

.RedesSociales li a {
  display: block;
  color: #0742e4;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  height: 2vw;
}

.RedesSociales .fijo {
  color: white;
}

.RedesSociales li a:hover {
  background-color: transparent;
  text-align: center;
}

/* ========================================================================== */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

div .column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  vertical-align: middle;
  flex-direction: row;
  text-align: center;
  float: right;
}

@media (max-width: 600px) {
  div .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* =============================Contacto================================ */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
